*background:		#1c010d
*foreground:		#ffffff
*color0:			#222222
*color8:			#6d6d6d
*color7:			#dddfce
*color15:			#dddfce
*color6:			#ddaa57
*color14:			#ddaa57
*color5:			#d8a554
*color13:			#d8a554
*color4:			#b28851
*color12:			#b28851
*color3:			#7c826c
*color11:			#7c826c
*color2:			#976a41
*color10:			#976a41
*color1:			#747663
*color9:			#747663
URxvt.font: xft:Iosevka:size=12
URxvt.scrollBar: False
URxvt.internalBorder: 10
