/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fg;
	font:				 	"Iosevka 12";
}

window {
    width:      			320px;
    padding:    			15px;
    border:					1px 1px 4px 1px;
    border-radius:          0px;
    border-color:           @bg-alt;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
